* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    background-image: url("../Imagenes/crucero-fondo.jpg");
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 40px 10px 10px 10px;
    color: #235B8C;
}

label {
    display: flex;
    justify-content: center;
    color: rgb(11, 11, 89);;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight:900;
}

input{
    display: flex;
    justify-content: center;
    color: rgb(11, 11, 89);;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
}


p {
    display: flex;
    justify-content: center;
    color: rgb(11, 11, 89);;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight:900;
}



#contenedor {
    display: flex;
    flex-flow: column nowrap;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    align-self: center;
}

#resultado {
    align-self: center;
    white-space: pre-line;
    background-color: #0056b3;
    color: #fff;
    border: 1px solid rgb(10, 10, 79);
    font-size: 20px;
    margin: 20px;
}

#contenedorDestino {
    display: flex;
    flex-flow: column nowrap;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    align-self: center;
}



#calcular {
    display: flex;
    align-self: center;
    background-color: #235B8C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
}

#calcular:hover {
    background-color: #0056b3;
}



.itinerario-button {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(11, 11, 89);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }


.itinerario-button:hover {
    background-color: #6289b2;
}

#resultadoFinal{
align-self: center;
white-space: pre-line;
background-color: #0056b3;
color: #fff;
font-size: 20px;
margin: 20px;
}

.container {
display: flex;
flex-wrap: nowrap;
align-self: center;
background-color: #0056b3;
color: #fff;
font-size: 20px;
margin: 20px;
}

.toastify {
    background-color: rgb(14, 14, 87);
    color: #fff;
    position: fixed;
  }
  
  .toastify .toastify-content {
    margin-bottom: 10px;
    white-space: pre-line;
  }


